<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServletStudent</servlet-name>
        <servlet-class>loginStudent.LoginServletStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDaoStudent</servlet-name>
        <servlet-class>loginStudent.LoginDaoStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>main.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDaoStaff</servlet-name>
        <servlet-class>loginStaff.LoginDaoStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServletStaff</servlet-name>
        <servlet-class>loginStaff.LoginServletStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stud_programServlet</servlet-name>
        <servlet-class>programStudent.stud_programServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff_programServlet</servlet-name>
        <servlet-class>programStaff.staff_programServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileStaff</servlet-name>
        <servlet-class>profile.ProfileStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileStudent</servlet-name>
        <servlet-class>profile.ProfileStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileStudent</servlet-name>
        <servlet-class>profile.EditProfileStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileStaff</servlet-name>
        <servlet-class>profile.EditProfileStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>details_programServlet</servlet-name>
        <servlet-class>programStaff.details_programServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeclineServlet</servlet-name>
        <servlet-class>programStaff.DeclineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveServlet</servlet-name>
        <servlet-class>programStaff.ApproveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stud_programHistoryServlet</servlet-name>
        <servlet-class>programStudent.stud_programHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stud_programDetail</servlet-name>
        <servlet-class>programStudent.stud_programDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff_programHistory</servlet-name>
        <servlet-class>programStaff.staff_programHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff_historyDetails</servlet-name>
        <servlet-class>programStaff.staff_historyDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stud_merit_GETapprovalProgram</servlet-name>
        <servlet-class>programStudent.stud_merit_GETapprovalProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stud_merit_TABLEsendMerit</servlet-name>
        <servlet-class>programStudent.stud_merit_TABLEsendMerit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff_programAvailable</servlet-name>
        <servlet-class>programStaff.staff_programAvailable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkAvailable</servlet-name>
        <servlet-class>programStudent.checkAvailable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>main.RegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stud_merit_APPLYapprovalMerit</servlet-name>
        <servlet-class>programStudent.stud_merit_APPLYapprovalMerit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff_merit_SELECTrequestApprovalMerit</servlet-name>
        <servlet-class>programStaff.staff_merit_SELECTrequestApprovalMerit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff_merit_GETrequestApprovalMerit</servlet-name>
        <servlet-class>programStaff.staff_merit_GETrequestApprovalMerit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff_merit_COMPLETEapprovalMerit</servlet-name>
        <servlet-class>programStaff.staff_merit_COMPLETEapprovalMerit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stud_merit_DELETEstud</servlet-name>
        <servlet-class>programStudent.stud_merit_DELETEstud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testing</servlet-name>
        <servlet-class>programStudent.testing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff_programIndex</servlet-name>
        <servlet-class>programStaff.staff_programIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stud_programIndex</servlet-name>
        <servlet-class>programStudent.stud_programIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff_merit_DECLINEapprovalMerit</servlet-name>
        <servlet-class>programStaff.staff_merit_DECLINEapprovalMerit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServletStudent</servlet-name>
        <url-pattern>/LoginServletStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDaoStudent</servlet-name>
        <url-pattern>/LoginDaoStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDaoStaff</servlet-name>
        <url-pattern>/LoginDaoStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServletStaff</servlet-name>
        <url-pattern>/LoginServletStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stud_programServlet</servlet-name>
        <url-pattern>/stud_programServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff_programServlet</servlet-name>
        <url-pattern>/staff_programServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileStaff</servlet-name>
        <url-pattern>/ProfileStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileStudent</servlet-name>
        <url-pattern>/ProfileStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileStudent</servlet-name>
        <url-pattern>/EditProfileStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileStaff</servlet-name>
        <url-pattern>/EditProfileStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>details_programServlet</servlet-name>
        <url-pattern>/details_programServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeclineServlet</servlet-name>
        <url-pattern>/DeclineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveServlet</servlet-name>
        <url-pattern>/ApproveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stud_programHistoryServlet</servlet-name>
        <url-pattern>/stud_programHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stud_programDetail</servlet-name>
        <url-pattern>/stud_programDetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>stud_merit_SELECTapprovalProgram</servlet-name>
        <servlet-class>programStudent.stud_merit_SELECTapprovalProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stud_merit_INSERTsendMerit</servlet-name>
        <servlet-class>programStudent.stud_merit_INSERTsendMerit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>stud_merit_SELECTapprovalProgram</servlet-name>
        <url-pattern>/stud_merit_SELECTapprovalProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stud_merit_INSERTsendMerit</servlet-name>
        <url-pattern>/stud_merit_INSERTsendMerit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff_programHistory</servlet-name>
        <url-pattern>/staff_programHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff_historyDetails</servlet-name>
        <url-pattern>/staff_historyDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stud_merit_GETapprovalProgram</servlet-name>
        <url-pattern>/stud_merit_GETapprovalProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stud_merit_TABLEsendMerit</servlet-name>
        <url-pattern>/stud_merit_TABLEsendMerit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff_programAvailable</servlet-name>
        <url-pattern>/staff_programAvailable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkAvailable</servlet-name>
        <url-pattern>/checkAvailable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/RegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stud_merit_APPLYapprovalMerit</servlet-name>
        <url-pattern>/stud_merit_APPLYapprovalMerit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff_merit_SELECTrequestApprovalMerit</servlet-name>
        <url-pattern>/staff_merit_SELECTrequestApprovalMerit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff_merit_GETrequestApprovalMerit</servlet-name>
        <url-pattern>/staff_merit_GETrequestApprovalMerit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff_merit_COMPLETEapprovalMerit</servlet-name>
        <url-pattern>/staff_merit_COMPLETEapprovalMerit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stud_merit_DELETEstud</servlet-name>
        <url-pattern>/stud_merit_DELETEstud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testing</servlet-name>
        <url-pattern>/testing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff_programIndex</servlet-name>
        <url-pattern>/staff_programIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stud_programIndex</servlet-name>
        <url-pattern>/stud_programIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff_merit_DECLINEapprovalMerit</servlet-name>
        <url-pattern>/staff_merit_DECLINEapprovalMerit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
